<div>
  <table>
    <thead>
      <th>id</th>
      <th>name</th>
    </thead>
    <tbody>
      <%= for user <- @users do %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
      </tr>        
      <% end %>
    </tbody>
</div>
